<ons-navigator var="app.navi">
  <ons-page ng-controller="homeController as ctrl">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Accueil</div>
  </ons-toolbar>

  <img ng-src="img/logo.png" class="img-center" alt="" />
  <h1 class="text-center">{{ ctrl.title }}</h1>

  <div class="buttons">
    <a href="#" class="button button--large" ng-click="ctrl.goToSessions()">Voir les sessions</a>
    <a href="#" class="button button--large" ng-click="ctrl.goToSpeakers()">Voir les presentateurs</a>
  </div>

</ons-page>
</ons-navigator>
