<ons-list ng-controller="menuController as ctrl" class="menu">
    <ons-list-item modifier="chevron" ng-click="ctrl.goToHome()">
        <ons-icon icon="fa-home"></ons-icon> Accueil
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="ctrl.goToAgenda()">
        <ons-icon icon="fa-calendar"></ons-icon> Agenda
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="ctrl.goToSessions()">
        <ons-icon icon="fa-calendar-o"></ons-icon> Sessions
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="ctrl.goToSpeakers()">
        <ons-icon icon="fa-users"></ons-icon> Présentateurs
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="ctrl.goToTechniques()">
        <ons-icon icon="fa-gear"></ons-icon> Page Technique
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="ctrl.goToAbout()">
         A propos
    </ons-list-item>
</ons-list>
